@mixin active-toggle($background-color: var(--super-sidebar-user-bar-button-hover-bg)) {
  background-color: $background-color !important;
  mix-blend-mode: multiply;

  .gl-dark & {
    mix-blend-mode: screen;
  }
}

$super-sidebar-transition-duration: $gl-transition-duration-medium;
$super-sidebar-transition-hint-duration: $super-sidebar-transition-duration / 4;

@mixin notification-dot($color, $size, $top, $left) {
  background-color: $color;
  border: 2px solid var(--super-sidebar-bg);
  position: absolute;
  height: $size;
  width: $size;
  top: $top;
  left: $left;
  border-radius: 50%;
  transition: background-color 100ms linear, border-color 100ms linear;
}

.super-sidebar-skip-to {
  top: $calc-application-bars-height;
  width: calc(#{$super-sidebar-width} - #{$gl-spacing-scale-5});
  z-index: $super-sidebar-skip-to-z-index;
}

.super-sidebar {
  --super-sidebar-bg: var(--gray-10, #{$gray-10});
  --super-sidebar-primary: var(--blue-500, #{$blue-500});
  --super-sidebar-notification-dot: var(--blue-500, #{$blue-500});
  --super-sidebar-user-bar-bg: #{$t-gray-a-04};
  --super-sidebar-user-bar-button-bg: var(--gray-10, #{$gray-10});
  --super-sidebar-user-bar-button-hover-bg: var(--gray-50, #{$gray-50});
  --super-sidebar-user-bar-button-color: var(--gray-900, #{$gray-900});
  --super-sidebar-user-bar-button-hover-color: var(--gray-900, #{$gray-900});
  // Separate values provided to use `---gray-600` in dark  mode
  --super-sidebar-user-bar-button-icon-color: var(--gray-600, #{$gray-500});
  --super-sidebar-user-bar-button-icon-hover-color:  var(--gray-700, #{$gray-700});

  display: flex;
  flex-direction: column;
  position: fixed;
  top: $calc-application-bars-height;
  bottom: $calc-application-footer-height;
  left: 0;
  background-color: var(--super-sidebar-bg);
  border-right: 1px solid $t-gray-a-08;
  transform: translate3d(0, 0, 0);
  width: $super-sidebar-width;
  z-index: $super-sidebar-z-index;

  &.super-sidebar-loading {
    transform: translate3d(-100%, 0, 0);
    transition: none;

    @include media-breakpoint-up(xl) {
      transform: translate3d(0, 0, 0);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: transform $super-sidebar-transition-duration;
  }

  .user-bar {
    background-color: var(--super-sidebar-user-bar-bg);

    .user-bar-item {
      @include gl-rounded-base;
      @include gl-p-2;
      @include gl-bg-transparent;
      @include gl-border-none;

      &:focus,
      &:active {
        @include gl-focus;
      }
    }

    .user-bar-item {
      &:hover,
      &:focus,
      &:active {
        @include active-toggle;
      }
    }

    .brand-logo {
      &:hover,
      &:focus {
        background-color: var(--super-sidebar-user-bar-button-hover-bg);
        mix-blend-mode: multiply;

        .gl-dark & {
          mix-blend-mode: screen;
        }
      }
    }

    .btn-default-tertiary,
    .counter {
      color: var(--super-sidebar-user-bar-button-color);

      .gl-icon {
        color: var(--super-sidebar-user-bar-button-icon-color) !important;
      }

      &:hover,
      &:focus {
        background-color: var(--super-sidebar-user-bar-button-hover-bg) !important;
        color: var(--super-sidebar-user-bar-button-hover-color);
      }
    }

    .counter {
      background-color: var(--super-sidebar-user-bar-button-bg);

      &:hover,
      &:focus,
      &[aria-expanded='true'] {
        background-color: var(--super-sidebar-user-bar-button-hover-bg);
        border-color: transparent;
        mix-blend-mode: multiply;

        .gl-icon {
          color: var(--super-sidebar-user-bar-button-icon-hover-color);
        }

        .gl-dark & {
          mix-blend-mode: screen;
        }
      }

      &:hover,
      &[aria-expanded='true'] {
        box-shadow: none;
      }
    }
  }

  .item-icon {
    color: $gray-500;

    .gl-dark & {
      color: $gray-600;
    }
  }

  .active-indicator {
    background-color: var(--super-sidebar-primary);
  }

  .btn-with-notification {
    position: relative;

    .notification-dot-info {
      @include notification-dot(var(--super-sidebar-notification-dot), 9px, 5px, 22px);
    }

    .notification-dot-warning {
      @include notification-dot($orange-300, 12px, 1px, 19px);
    }

    &:hover,
    &:focus {
      .notification {
        background-color: var(--super-sidebar-user-bar-button-hover-bg);
      }
    }
  }

  .gl-new-dropdown-toggle[aria-expanded='true'] {
    @include active-toggle;
  }

  .gl-new-dropdown-custom-toggle {
    .btn-with-notification {
      mix-blend-mode: unset; // Our tertiary buttons otherwise use another mix-blend mode, making border-color semi-transparent.
    }

    [aria-expanded='true'] {
      @include active-toggle;
    }
  }

  .super-sidebar-help-center-toggle[aria-expanded='true'] {
    @include active-toggle($gray-50);
  }

  #trial-status-sidebar-widget:hover {
    text-decoration: none;
    @include gl-text-contrast-light;
  }
}

.super-sidebar-overlay {
  display: none;
}

.super-sidebar-has-peeked {
  margin-top: calc(#{$header-height} - #{$gl-spacing-scale-2});
  margin-bottom: #{$gl-spacing-scale-2};
}

.super-sidebar-peek {
  margin-left: #{$gl-spacing-scale-2};
}

.super-sidebar-peek,
.super-sidebar-peek-hint {
  @include gl-shadow;
  border-right: 0;
}

.super-sidebar-peek-hint {
  @media (prefers-reduced-motion: no-preference) {
    transition: transform $super-sidebar-transition-hint-duration ease-out;
  }
}

.super-sidebar-peek {
  border-radius: $border-radius-default;

  .user-bar {
    border-radius: $border-radius-default $border-radius-default 0 0;
  }
}

.page-with-super-sidebar {
  padding-left: 0;

  @media (prefers-reduced-motion: no-preference) {
    transition: padding-left $super-sidebar-transition-duration;
  }

  &:not(.page-with-super-sidebar-collapsed) {
    .super-sidebar-overlay {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $black-transparent;
      z-index: $super-sidebar-z-index - 1;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding-left: $super-sidebar-width;

    .super-sidebar-toggle {
      display: none;
    }
  }
}

.page-with-super-sidebar-collapsed {
  .super-sidebar {
    transform: translate3d(-100%, 0, 0);

    &.super-sidebar-peek {
      transform: translate3d(0, 0, 0);
    }

    &.super-sidebar-peek-hint {
      transform: translate3d(calc(#{$gl-spacing-scale-3} - 100%), 0, 0);
    }
  }

  @include media-breakpoint-up(xl) {
    padding-left: 0;

    .super-sidebar-toggle {
      display: block;
    }
  }
}

.gl-dark {
  .super-sidebar {
    .gl-new-dropdown-custom-toggle {
      .btn-with-notification.btn-with-notification {
        mix-blend-mode: unset;
      }
    }
  }
}

.global-search-modal {
  padding: 3rem 0.5rem 0;

  &.gl-modal .modal-dialog {
    align-items: flex-start;
  }

  @include gl-media-breakpoint-up(sm) {
    padding: 5rem 1rem 0;
  }

  // This is a temporary workaround!
  // the button in GitLab UI Search components need to be updated to not be the small size
  // see in Figma: https://www.figma.com/file/qEddyqCrI7kPSBjGmwkZzQ/Component-library?node-id=43905%3A45540
  .gl-search-box-by-type-clear.btn-sm {
    padding: 0.5rem !important;
  }

  .search-scope-help {
    top: 1rem;
    right: 3rem;
  }

  .gl-search-box-by-type-input-borderless {
    @include gl-rounded-base;
  }

  .global-search-results {
    max-height: 30rem;

    .gl-new-dropdown-item {
      @include gl-px-3;
    }

    // Target groups
    [id*='gl-disclosure-dropdown-group'] {
      @include gl-px-5;
    }
  }
}

.transition-opacity-on-hover--context {
  .transition-opacity-on-hover--target {
    transition: opacity $gl-transition-duration-fast linear;

    &:hover {
      transition-delay: $gl-transition-duration-slow;
    }
  }

  &:hover {
    .transition-opacity-on-hover--target {
      transition-delay: $gl-transition-duration-slow;
    }
  }
}

.show-on-focus-or-hover--context {
  .show-on-focus-or-hover--target {
    opacity: 0;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &:hover,
  &:focus-within {
    .show-on-focus-or-hover--control {
      @include gl-bg-t-gray-a-08;
    }

    .show-on-focus-or-hover--target {
      opacity: 1;
    }
  }

  .show-on-focus-or-hover--control {
    &:hover,
    &:focus {
      + .show-on-focus-or-hover--target {
        opacity: 1;
      }
    }
  }
}

.hide-on-focus-or-hover--context {
  .hide-on-focus-or-hover--target {
    opacity: 1;
  }

  &:hover,
  &:focus-within {
    .hide-on-focus-or-hover--target {
      opacity: 0;
    }
  }

  .hide-on-focus-or-hover--control {
    &:hover,
    &:focus {
      .hide-on-focus-or-hover--target {
        opacity: 0;
      }
    }
  }
}


// Styles for the ScrollScrim component.
// Should eventually be moved to gitlab-ui.
// See https://gitlab.com/gitlab-org/gitlab-ui/-/issues/1869

$scroll-scrim-height: 2.25rem;

.gl-scroll-scrim {
  .top-scrim-wrapper,
  .bottom-scrim-wrapper {
    height: $scroll-scrim-height;
    opacity: 0;
    position: sticky;
    z-index: 1;
    display: block;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: opacity 0.1s;
  }

  .top-scrim-wrapper {
    top: 0;
    margin-bottom: -$scroll-scrim-height;

    .top-scrim {
      background: linear-gradient(180deg, var(--sidebar-background, $gray-10) 0%, $transparent-rgba 100%);
    }
  }

  .bottom-scrim-wrapper {
    bottom: 0;
    margin-top: -$scroll-scrim-height;

    .bottom-scrim {
      background: linear-gradient(180deg, $transparent-rgba 0%, var(--sidebar-background, $gray-10));
    }
  }

  .top-scrim,
  .bottom-scrim {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.top-scrim-visible .top-scrim-wrapper,
  &.bottom-scrim-visible .bottom-scrim-wrapper {
    opacity: 1;
  }
}
